<notifier-container></notifier-container>
<div class="card m-3">
    <h5 class="card-header">Create Property Offer</h5>
    <div class="card-body">
        <form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-12">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Titre" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Location</label>
                    <input type="text" class="form-control" placeholder="location" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                        <div *ngIf="f.location.errors.required">Location is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Price</label>
                    <input type="number" formControlName="price" placeholder="Price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">Price is required</div>
                    </div>
                </div> 
                <div class="form-group col-6">
                    <label>Type</label>
                    <select formControlName="type" class="form-control" placeholder="Choississez le type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                        <option value="Apartment">Apartment</option>
                        <option value="Villa">Villa</option>
                        <option value="Duplex">Duplex</option>
                        <option value="Land">Land</option>
                        <option value="Showroom">Showroom</option>
                        <option value="Office">Office</option>
                    </select>
                    <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                        <div *ngIf="f.type.errors.required">Type is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Category</label>
                    <select formControlName="category" placeholder="Choississez le Category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                        <option value="Rent">Rent</option>
                        <option value="Sale">Sale</option>
                    </select>
                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                        <div *ngIf="f.category.errors.required">Category is required</div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label>Description</label>
                    <textarea formControlName="description" class="form-control w-100" placeholder="Description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Bedrooms</label>
                    <input type="number" formControlName="bedrooms" placeholder="Bedrooms" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bedrooms.errors }" />
                    <div *ngIf="submitted && f.bedrooms.errors" class="invalid-feedback">
                        <div *ngIf="f.bedrooms.errors.required">Bedrooms is required</div>
                    </div>
                </div> 
                <div class="form-group col-6">
                    <label>Bathrooms</label>
                    <input type="number" formControlName="bathrooms" placeholder="Price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bathrooms.errors }" />
                    <div *ngIf="submitted && f.bathrooms.errors" class="invalid-feedback">
                        <div *ngIf="f.bathrooms.errors.required">Bathrooms is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>SQM</label>
                    <input type="number" formControlName="sqm" placeholder="Sqm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sqm.errors }" />
                    <div *ngIf="submitted && f.sqm.errors" class="invalid-feedback">
                        <div *ngIf="f.sqm.errors.required">Sqm is required</div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <label>Picture</label>
                    <input type="file" (change)="fileChangeEvent($event)" class="form-control" />

                    <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="4 / 3"
                        format="png"
                        (imageCropped)="imageCropped($event)"

                    ></image-cropper>

                    <img [src]="croppedImage" />
                </div> 
            </div>
            
            <div class="d-flex justify-content-end mt-4">
                <button class="btn btn-primary mx-2" type="submit">{{ !offer ? 'Create Offer' : 'Update Offer' }}</button>
                <a class="btn btn-secondary" type="reset" [routerLink]="['/admin','offers']">Retour</a>
            </div>
        </form>
    </div>
</div>