<div class="company-list card border-0 rounded shadow bg-white">
    <div class="text-center py-5 border-bottom">
      <img [src]="company.logo" class="avatar avatar-small mx-auto rounded-circle d-block mb-3" alt="">
      <a routerLink="/page-job-company" class="text-dark h5 name">{{ company.name }}</a>
      <p class="text-muted mt-1 mb-0"></p>
    </div>
  
    <div class="p-4">
      <h5>Company Details:</h5>
      <ul class="list-unstyled mb-4">
        <li class="h6">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-map-pin fea icon-sm text-warning me-2">
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          <span class="text-muted">Location:</span> {{ company.address }}
        </li>
        <!-- Add other company details as needed -->
      </ul>
      <div class="d-grid">
        <a routerLink="/CompanyDetailsComponent" class="btn btn-soft-primary">View Detail <i
            class="uil uil-angle-right-b align-middle"></i></a>
      </div>
    </div>
  </div>
  