<div class="container">
  <div class="row">
    <section class="discussions btn-primary">
      <div class="discussion search">
        <div class="searchbar">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Search...">
        </div>
      </div>

      <div class="discussion" *ngFor="let chat of chatList" (click)="goToChat(chat.firstname)">
        <div class="photo" [style.background-image]="'url(' + chat.photoUrl + ')'">
          <div class="online"></div>
        </div>
        <div class="desc-contact">
          <p class="name">{{ chat.firstname }} {{ chat.lastname }}</p>
          <p class="message">{{ chat.message }}</p>
        </div>
        <div class="timer">{{ chat.lastActive }}</div>
      </div>
    </section>

    <section class="chat" *ngIf="chatData">
      <div class="header-chat">
        <i class="icon fa fa-user-o" aria-hidden="true"></i>
        <p class="name">{{ firstname }} {{ lastname }}</p>
        <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
      </div>

      <div class="messages-chat">
        <div class="message" *ngFor="let message of messageList">
          <div class="photo" [style.background-image]="'url(' + message.sender.photoUrl + ')'"></div>
          <div class="message-content">
            <p class="sender-name">{{ message.sender.firstname }}</p>
            <p class="message-text">{{ message.content }}</p>
          </div>
        </div>
      </div>

      <div class="input-bar">
        <input type="text" placeholder="Type a message..." formControlName="replymessage">
        <button class="send-button" (click)="sendMessage()">Send</button>
      </div>
    </section>
  </div>
</div>
