
.premium-title,
    .standard-title,
    .basic-title {
      color: #FFFFFF;
      padding: 20px;
      border-radius: 10px;
      display: inline-block;
      cursor: pointer;
      width: 100%;
      font-size: 24px;
      transition: transform 0.3s ease;
    }
  
    .premium-title {
      background: linear-gradient(to top left, #1E519D, #D70D1F);
    }
  
    .standard-title {
      background: linear-gradient(to top left, #E1306C, #F56040);
    }
  
    .basic-title {
      background: linear-gradient(to top left, #204F9B, #A639D7);
    }
  
    .selected-plan {
      transform: scale(1.1);
      z-index: 1;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    }
  
    .card {
      transition: transform 0.3s ease;
      border-radius: 10px;
      border: 1px solid #ccc;
    }
  
    .card.selected-plan {
      transform: scale(1.1);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
      border-color: #888;
    }
  
    .list-item {
      position: relative;
      padding-bottom: 10px;
    }
  
    .list-item:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }
  
    .list-item strong {
      color: #888;
    }
  
    .list-item .highlight {
      color: #000;
      font-weight: bold;
    }
  
    .selected-label {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
  
    .list-item .checkmark {
      display: none;
      margin-right: 5px;
      color: #FF0000;
    }
  
    .selected-plan .list-item .checkmark {
      display: inline-block;
    }
  
    .icon-container {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      text-align: center;
      background-color: red;
      margin-right: 5px;
      transition: background-color 0.3s ease;
    }
  
    .premium.selected .icon-container {
      background-color: red;
    }
  
    .standard.selected .icon-container {
      background-color: purple;
    }
  
    .basic.selected .icon-container {
      background-color: blue;
    }
    .next-button {
    background-color: #E50914;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 30%;
    margin-bottom: 20px;
  }
  .section-title {
    margin-bottom: 20px;
  }

  .paragraph {
    margin-bottom: 20px;
  }

  .next-button:hover {
    background-color: #D70D1F;
  }