<div class="navbar">
    <h1>Dashboard</h1>
</div>
  
<div class="sidebar">
    <ul>
        <li><a href="#" routerLinkActive="active">Dashboard</a></li>
        <li><a [routerLink]="['companies-admin']" routerLinkActive="active">Companies</a></li>
        <li><a [routerLink]="['orders-admin']" routerLinkActive="active">Orders</a></li>
        <li><a [routerLink]="['offers']" routerLinkActive="active">Offers</a></li>
    </ul>
</div>
  
<div class="content">
    <router-outlet></router-outlet>
</div>