<notifier-container></notifier-container>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismissAll()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form mt-4">
        <!-- company name -->
        <div class="col-md-12">
          <div class="mb-3">
            <label class="form-label">Name <span class="text-danger">*</span></label>
            <div class="form-icon position-relative">
              <i-feather name="user" class="fea icon-sm icons"></i-feather>
              <input type="text" class="form-control ps-5" placeholder="Company Name" formControlName="first_name" required>
            </div>
          </div>
        </div>
  
        <!-- phone -->
        <div class="col-md-12">
          <div class="mb-3">
            <label class="form-label">Phone <span class="text-danger">*</span></label>
            <div class="form-icon position-relative">
              <i-feather name="user-check" class="fea icon-sm icons"></i-feather>
              <input type="text" class="form-control ps-5" placeholder="phone" formControlName="phone" required>
            </div>
          </div>
        </div>

        <!-- address -->
        <div class="col-md-12">
          <div class="mb-3">
            <label class="form-label">Address <span class="text-danger">*</span></label>
            <div class="form-icon position-relative">
              <i-feather name="user-check" class="fea icon-sm icons"></i-feather>
              <input type="text" class="form-control ps-5" placeholder="Address" formControlName="address" required>
            </div>
          </div>
        </div>
  
        <!-- Email -->
        <div class="col-md-12">
          <div class="mb-3">
            <label class="form-label">Your Email <span class="text-danger">*</span></label>
            <div class="form-icon position-relative">
              <i-feather name="mail" class="fea icon-sm icons"></i-feather>
              <input type="email" class="form-control ps-5" placeholder="Email" formControlName="email" required>
            </div>
          </div>
        </div>
  
        <!-- Password -->
        <div class="col-md-12">
          <div class="mb-3">
            <label class="form-label">Password <span class="text-danger">*</span></label>
            <div class="form-icon position-relative">
              <i-feather name="key" class="fea icon-sm icons"></i-feather>
              <input type="password" class="form-control ps-5" placeholder="Password" formControlName="password" required>
            </div>
          </div>
        </div>
  
        <!-- Accept terms -->
        <div class="col-md-12">
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">I Accept <a routerLink="/auth-signup" class="text-primary">Terms And Condition</a></label>
            </div>
          </div>
        </div>
  
        <!-- Register button -->
        <div class="col-md-12">
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
  
        <!-- Social signup options -->
        <div class="col-lg-12 mt-4 text-center">
            <h6>Or Signup With</h6>
            <div class="row">
              <div class="col-6 mt-3">
                <div class="d-grid">
                  <a href="javascript:void(0)" class="btn btn-light"><i class="mdi mdi-facebook text-primary"></i> Facebook</a>
                </div>
              </div>
              <div class="col-6 mt-3">
                <div class="d-grid">
                  <a href="javascript:void(0)" class="btn btn-light"><i class="mdi mdi-google text-danger"></i> Google</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    
    <div class="container">
      <!-- Your other HTML content -->
    
      <ng-container *ngIf="registerForm">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </ng-container>
    </div>
    
  